extends layout

block content
  div.nav
    |Reddit Clone
    ng-md-icon(icon='add')
    |Submit Post
    input(type='text' id='search' name='search' placeholder='Search')
    |Sort By {{sort}}
    select(ng-model='sort' ng-init="sort='votes'")
      option(value='Votes') Votes
      option(value='Date') Date
    section(ng-controller='Posts')
      div.post(ng-controller='Posts' ng-repeat='post in posts')
        div.pic
          img(ng-src='{{post.imgUrl}}' width='200' alt='{{post.imgUrl}}')
        div.other-stuff
          div.title
            p
              ='{{post.title}}'
              |  | 
              ng-md-icon(icon='keyboard_arrow_up' ng-click='upVote(post)')
              ng-md-icon(icon='keyboard_arrow_down' ng-click='downVote(post)')
              {{post.voteCount}}
          div.author
            p by 
              ='{{post.author}}'
          div.description
            p='{{post.description}}'
          div.comments
            p.date
              ng-md-icon(icon='event')
              //- span(am-time-ago="post.datePosted")
              {{post.datePosted | fromNow}}
            p.comments |  
              ng-md-icon(icon='mode_comment')
              {{post.commentCount}} 
              ng-pluralize(count='post.commentCount', 
                when="{'1': 'comment',\
                  'other': 'comments'}")
            p.add-comment | 
              ng-md-icon(icon='create')
              |Add Comment
