extends layout

block content
  div.nav(ng-controller='Posts')
    |Reddit Clone
    ng-md-icon(icon='add' ng-click='toggleForm()')
    |Submit Post
    input(type='text' id='search' name='search' placeholder='Search')
    |Sort By {{sort}}
    select(ng-model='sort')
      option(value='voteCount') Votes
      option(value='datePosted') Date
    section
      div.newPost(ng-show='showForm')
        form(ng-submit='addPost()')
          label(for='title') Title
          input(type='text' id='title' ng-model='title')
          label(for='author') Author
          input(type='text' id='author' ng-model='author')
          label(for='img_url') Image URL
          input(type='text' id='img_url' ng-model='imgUrl')
          label(for='description') Description
          input(type='text' id='description' ng-model='description')
          input(type='submit' value='Submit Post')
      div.post(ng-controller='Posts' ng-repeat='post in posts | orderBy: sort : reverse=true')
        div.pic
          img(ng-src='{{post.imgUrl}}' width='200' alt='{{post.imgUrl}}')
        div.other-stuff
          div.title
            p
              ='{{post.title}}'
              |  | 
              ng-md-icon(icon='keyboard_arrow_up' ng-click='upVote(post)')
              ng-md-icon(icon='keyboard_arrow_down' ng-click='downVote(post)')
              span(ng-class='{green:post.voteCount>0, red:post.voteCount<0}'){{post.voteCount}}
          div.author
            p by 
              ='{{post.author}}'
          div.description
            p='{{post.description}}'
          div.comments
            p.date
              ng-md-icon(icon='event')
              //- span(am-time-ago="post.datePosted")
              {{post.datePosted | fromNow}}
            p.comments |  
              ng-md-icon(icon='mode_comment')
              {{post.commentCount}} 
              ng-pluralize(count='post.commentCount', 
                when="{'1': 'comment',\
                  'other': 'comments'}")
            p.add-comment | 
              ng-md-icon(icon='create')
              |Add Comment
