extends layout

block content
  div.nav
    |Reddit Clone
    ng-md-icon(icon='add')
    |Submit Post
    input(type='text' id='search' name='search' placeholder='Search')
    |Sort By {{sort}}
    select(ng-model='sort' ng-init="sort='votes'")
      option(value='Votes') Votes
      option(value='Date') Date
    section(ng-controller='Posts')
      div(ng-controller='Posts' ng-repeat='post in posts')
        div.pic
          img(ng-src='{{post.imgUrl}}' width='200' alt='{{post.imgUrl}}')
        div.other-stuff
          div.title
            p by 
              ='{{post.title}}'
              |  | 
              ng-md-icon(icon='keyboard_arrow_up' ng-click='upVote()')
              ng-md-icon(icon='keyboard_arrow_down' ng-click='downVote()')
              {{voteCount}}
          div.author
            p='{{post.author}}'
          div.description
            p='{{post.description}}'
          div.comments
            p.date
              ng-md-icon(icon='event')
              {{post.datePosted}}
            p.comments
              ng-md-icon(icon='mode_comment')
              {{comentCount}} comments
            p.addComment
              ng-md-icon(icon='create')
              |Add Comment
